logs
project/project
project/target
target
tmp
.history
dist
/.idea
.idea
.idea_modules
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.env
/*.dump
/.target
/bin
node_modules
public/stylesheets/*.css.map
.bsp
conf/datasets